{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>This webiste was a group project for Human Interface Computing at Kent State University for the Summer of 2022 class</p>
<p>
    <div>Mike Eubank <a href="mailto:meubank@kent.edu">meubank@kent.edu</a></div>
    <div>Nicholas Davis <a href="mailto:ndavis62@kent.edu">ndavis62@kent.edu</a></div>
    <div>Ian Zimmerman <a href="mailto:meubank@kent.edu">meubank@kent.edu</a></div>
    <br /><br />
    <div><a href="{% url 'framework' %}">The Framework we used</a></div>
</p>

{% endblock %}
