{% extends "app/layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 40px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
</style>


<body>
    <div class="row">
        <div class="column">
            <img src="../../static/app/content/bird_wireframe.png" alt="Bird Diagram" width="430" height="430">

            <p style="font-size:small; font-family:Verdana">
                This photograph shows a wide array of different species that all fall in the bird family.
            </p>
        </div>

        <div class="column">
            <h2 style="font-size:x-large; font-family:Verdana"> Birds </h2>

            <hr>

            <p style="font-size:large; font-family:Verdana">
                Birds are animals that are born from hard-shelled eggs and have feathers 
                as well as wings.
            </p>

            <p style="font-size:large; font-family:Verdana">
                Wings, however, are not the defining feature of birds because there are other 
                animals that have wings.  Some of these animals include bats and certain insects, 
                such as flies.
            </p>

            <p style="font-size:large; font-family:Verdana">
                Birds are the only animals that have feathers on their body, so this is the 
                feature that distinguishes them from all other animals.  The feathers on a 
                bird's body help them to steer their wings while flying.  A bird's feathers also 
                help to keep it warm in cold temperatures, and sometimes they are used to attract 
                a significant other through mating rituals.
            </p>
        </div>
    </div>
</body>

{% endblock %}