{% extends "app/layout.html" %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    * {
        box-sizing: border-box;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

</style>


<body>
    <div class="row">
            <br>
            <center><img src="../../static/app/content/fish_wireframe.png" alt="Fish Anatomy" width="550" height="300"></center>
        
        <center>
            <h2 style="font-size:x-large; font-family:Verdana"> Fish </h2>

            <hr>

            <p style="font-size:large; font-family:Verdana">
                Fish are a type of aquatic vertebrates.  The characteristics that separate them 
                from other aquatic species is the combination of their gills, fins, and the fact 
                that they are unable to survive outside of the water.  Almost all fish are cold-blooded, 
                but there are a few exceptions.  These exceptions are the Tuna family and the Mackerel 
                shark family.
            </p>

            <p style="font-size:large; font-family:Verdana">
                There are believed to be over 24,000 different species of fish in the world and their 
                sizes range from as small as quarter inch long to a whopping 51 feet long!
            </p>

            <p style="font-size:large; font-family:Verdana">
                Most fish have a skeleton made up of bone, but there are some fish, such as sharks, 
                that are made up of cartilage.
            </p>
        </center>
    </div>
</body>

{% endblock %}