{% extends "app/layout.html" %}

{% block content %}

<br><br>
<div class="jumbotron">
    <center>
        <h1 style="font-size:240%; font-family:Verdana">The Animal Kingdom</h1>
        <i><p style="font-size:100%; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            Animals come in all shapes, sizes, textures and <br>
            colors. Use the links in the menu above to learn <br>
            more about each of the six different kinds of animals! <br>
        </p></i>
        <img src="../../static/app/content/animal_kingdom.webp" alt="Animal Kingdom" width="350" height="240">
    </center>
</div>

<body>

</body>


{% endblock %}
