{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2>Mammals</h2>
        <p>
            Mammals, like reptiles emerged as early as 300 million years ago. Mammals as a class are characterized as giving live birth, having some form of hair, and also producing the food internally for their young. Mammals also generally have a quadruped body structure, meaning they are mostly four legged creatures.<br /><br />Around 6,400 species of Mammals have been categorized, with more added every year. In order of population, the largest subspecies of Mammals are, Rodentia (Rodents), Chiroptera (Bats), Eulipotyphla (hedgehogs, moles), Primates, Artiodactyla (horses, deer, camels, orca whales), and Carnivora (dogs, cats, seals and others)
        </p>
    </div>

    <div class="col-md-6">
        <!--<h2>testH2</h2>-->
        <br /><br />
        <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x3jyuvl" width="100%" height="100%" allowfullscreen> </iframe> </div>
    </div>
</div>

{% endblock %}