{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2>Reptiles</h2>
        <p>
            Reptilia, also known as Reptiles, are one of the oldest members of the terrestrial animal kingdom, originating around 312 million years ago. <br /><br />Currently living reptiles include turtles, crocodiles, lizards and snakes.<br /><br />Reptiles are cold-blooded, meaning they don't have the innate ability to self-regulate their own body temperature."
        </p>
    </div>

    <div class="col-md-6">
        <!--<h2>testH2</h2>-->
        <br /><br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DySrS-PZjNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}