{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-6">

        
        <div>
            <h2>Reptiles</h2>
            <p>
                Reptilia, also known as Reptiles, are one of the oldest members of the terrestrial animal kingdom, originating around 312 million years ago. <br /><br />Currently living reptiles include turtles, crocodiles, lizards and snakes.<br /><br />Reptiles are cold-blooded, meaning they don't have the innate ability to self-regulate their own body temperature."
            </p>
        </div>
    </div>

    <div class="col-lg-6">
        <br /><br /><br />
        <div style="background-color:lightgray" class="row">
            <h2 style="text-align: center;">How do you feel about reptiles?</h2>
            <div class="col-sm-6">
                <div>
                    <input id="5" type="radio" name="pick" />
                    <label for="5">5 - Wish I was one!</label>
                </div>
                <input id="4" type="radio" name="pick" />
                <label for="4">4</label>
                <div>
                    <input id="3" type="radio" name="pick" />
                    <label for="3">3</label>
                </div>
                <div>
                    <input id="2" type="radio" name="pick" />
                    <label for="2">2</label>
                </div>
                <div>
                    <input id="1" type="radio" name="pick" />
                    <label for="1">1 - Glad the dinosaurs died</label>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 0; position: relative; top: 50%;transform:translateY(150%);">
                <a class="btn btn-default">Submit</a>
            </div>
        </div>
        <!--<h2>testH2</h2>-->
        <br /><br /><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DySrS-PZjNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}